@CHARSET "UTF-8";
header {
	height: 100px;
	background-color: skyblue;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 0;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
}

footer {
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
    border: 1px solid #333;
}

header h1 {
    color: #f00;
    text-align: left;
}

header ul li{
    color: #f00;
    float: right;
}

header ul	li a 			{ color:#4F4F4F; font-weight:bold; margin-left:10px; text-decoration:none; }

ul.nav {
	background-color: rgba(201, 201, 201, .5);
	padding: 10px;
	border-radius: 10px;
}
/* reset */
*				{ margin:0; padding:0 }
body			{ font:0.75em "맑은 고딕", 돋움, 굴림; text-align:center }
ul, ol			{ list-style-type: none }

/* layout */

div#content		{ float:right; width:580px; background-color:#fff }
div#navigation	{ float:left; width:120px;  }
div#footer		{ clear:both; width:100% }

/* header */
div#header	h1				{ height:70px; line-height:70px; margin:0; padding-left:10px; color:#79B30B }
div#header	ul				{ height:20px; margin:0 20px 10px 0 } 
div#header	li				{ float:right }
div#header	li a 			{ color:#4F4F4F; font-weight:bold; margin-left:10px; text-decoration:none; }



/* footer */
div#footer		{ background:#515151; color: #FFF }
div#footer p	{ margin:0;padding:5px 10px }


