<!DOCTYPE html>
<html>
<head>
    <title>mysite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% block csslink %}{% endblock %}

    <link href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1>MySite</h1>
        <ul>
            {% if request.session.authuser is None %}
                <li><a href="/user/loginform">로그인</a></li>
                <li><a href="/user/joinform">회원가입</a></li>
            {% else %}
                <li><a href="/user/updateform">회원정보수정</a></li>
                <li><a href="/user/logout">로그아웃</a></li>
                <li>{{ request.session.authuser.name }}님 안녕하세요 ^^;</li>
            {% endif %}
        </ul>
    </header>
    <div class="row">

        <div class="col-md-2 col-lg-2">
            <ul class="nav nav-pills">
                <li><a href="/">안대혁</a></li>
                <li><a href="/guestbook">방명록</a></li>
                <li><a href="/board">게시판</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-lg-10">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer>(c)opyright 2015, 2016, 2017, 2018, 2019</footer>
</div>
</body>
</html>