{% extends '../base.html' %}
{% load mathfilters %}
{% block csslink %}
    <link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div id="board">
        <form id="search_form" action="" method="post">
            <input type="text" id="kwd" name="kwd" value="">
            <input type="submit" value="찾기">
        </form>
        <table class="tbl-ex">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>작성일</th>
                <th>&nbsp;</th>
            </tr>
            {% for article in article_list %}
                <tr>
                    {% if article.valid == True %}
                        <td>{{ article.id }}</td>
                        <td style="text-align:left; padding-left:{{ article.depth | mul:20 }}px"><a
                                href="/board/view/{{ article.id }}">
                            {% if article.depth > 0 %}
                                <img src='/assets/images/reply.png'>
                            {% endif %}{{ article.title }}</a></td>
                        <td>{{ article.user.name }}</td>
                        <td>{{ article.hit }}</td>
                        <td>{{ article.regdate }}</td>
                        {% if request.session.authuser.id == article.user.id %}
                            <td><a href="/board/delete/{{ article.id }}" class="del">삭제</a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% else %}
                        <td>-</td>
                        <td style="text-align:left; padding-left:{{ article.depth | mul:20 }}px">삭제된 게시물 ㅎ</td>
                        <td>-</td>
                        <td>{{ article.hit }}</td>
                        <td>{{ article.regdate }}</td>
                        <td>-</td>>
                    {% endif %}
                </tr>

            {% endfor %}
        </table>
        {% if request.session.authuser is not None %}
            <div class="bottom">
                <a href="/board/writeform" id="new-book">글쓰기</a>
            </div>
        {% endif %}
    </div>
{% endblock %}