{% extends '../base.html' %}
{% block csslink %}
    <link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div id="board">
        <form class="board-form" method="post" action="/board/write">
            {% csrf_token %}
            {% if origin_article is not None %}
                <a href="/board/view/{{ origin_article.id }}">{{ origin_article.title }}</a>
                의 답글쓰기 ㅎㅎ
                <input type="hidden" name="write_type" value="{{ origin_article.id }}">
                <script type="text/javascript">
                    window.onload = function () {
                        document.getElementById("wTitle").value = "[Re]{{ origin_article.title }}";
                    };
                </script>
            {% else %}
                <input type="hidden" name="write_type" value="new">
            {% endif %}

            <table class="tbl-ex">
                <tr>
                    <th colspan="2">글쓰기</th>
                </tr>
                <tr>
                    <td class="label">제목</td>
                    <td><input id="wTitle" type="text" name="title" value=""></td>
                </tr>
                <tr>
                    <td class="label">내용</td>
                    <td>
                        <textarea id="content" name="content"></textarea>
                    </td>
                </tr>
            </table>
            <div class="bottom">
                <a href="/board">취소</a>
                <input type="submit" value="등록">
            </div>
        </form>
    </div>
{% endblock %}